#loader{
    display: none;
}

#cardapioHeader ul li {
    list-style: none;
}

.btVerCardapio{
    margin-left: 15px;
}

.produto .btAvaliarDiv{
    margin-right: 15px;
    margin-left: 0px;
}

.produto .rateDiv{
    margin-top: 10px;
}