.sidebar a span{
    float: right;
    font-size: 1.5em;
    color: #101010;
}

.sidebar .active span{
    color: #f0c040;
}

.kindOfFoodDiv, .kindOfFoodDivButton{
    padding: 0;
}

@media screen and (max-width: 992px){
    .jumbotron{
        padding-bottom: 180px;
    }

    .kindOfFoodSelect{
        margin-left: 35px;
    }

    .searchDiv{
        margin-left: 5px;
    }

    .btSearchDiv{
        margin-left: 3px;
    }

    .btSearchDiv{
        margin-bottom: 15px;

    }
}

.btSearch{
    z-index: 20;
}

.verItem:hover{
    text-decoration: underline; 
}

.tab-content #tab_a .pedidoDiv{
    background: #FFFFFF;
    border: 1px solid #D2D5D8;
    border-left: 5px solid black;
}

.tab-content .pedidoHeader{
    margin-top: -10px;;
}

.tab-content .pedidoDiv .addCart{
    margin-top: 7px;
}