
.comments .media-heading {
    margin-top: 25px;
}

.comments .comment-info {
    margin-left: 6px;
    margin-top: 21px;
}

.comments .comment-info .btn {
    font-size: 0.8em;
}

.comments .comment-info .fa {
    line-height: 10px;
    color:#0020C2;
}

.comments .media .userIcon{
    color:#A1A1A1;
}

.comments .media-body p {
    position: relative;
    background: #F3F3F3;
    padding: 15px;
    margin-top: 50px;
    border: 1.5px solid #2C3E50;
    box-shadow: 0 0 2px 2px rgba(12, 32, 50, .4);
}

.comments .media-body p::before {
    background-color: #F3F3F3;
    box-shadow: -2px 2px 2px 0 rgba(12, 32, 50, .4);
    border-left: 1px solid #2C3E50;
    border-bottom: 1px solid #2C3E50;
    content: "\00a0";
    display: block;
    height:25px;
    left: 20px;
    position: absolute;
    top: -13px;
    transform: rotate(135deg);
    width: 25px;
}

.comments .commentText{
    width: 100%;
}

white {
    color: #fff;
}

#itemInfo{
    margin-bottom: 35px;
}

.nameP{
   font-weight: bold;
   color: #18BC9C;
   font-size: x-large;
}