.sidebar a span{
    float: right;
    font-size: 1.5em;
    color: #101010;
}

.sidebar .active span{
    color: #ACE63C;
}

.sidebar svg, span{
    width: 30px;
    width: 30px;
}

.sidebar .active svg{
    fill: #ACE63C;
}

h3{
    margin-top: 0;
}

#wait{
    display: nome;
}

.labelTamanho{
    clear: right;
    min-width: 100px;
}

.checkboxes{
    clear: left;
    border: none;
}

.checkboxes *{
    float: left;
}

.checkboxDiv{
    border: none;
    margin-bottom: 5px;
    height: 30px;
}

.price{
    margin-bottom: 5px;
    display: block;
    width: 45%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pedidoDiv .obs, .obs small{
    color: #11BA9A;
}

.pedidoDiv{
    border: 1px solid #228AAD;
}

.pedidoDiv{
    margin-bottom: 20px;
    border: 1px solid #228AAD;
    padding: 10px;
    padding-bottom: 25px;
}

#pedidosRecebidos .pedidoDiv{
    border-left: 7px solid #C11B17;
}

#pedidosCozinha .pedidoDiv{
    border-left: 7px solid #FBB117;
}

#pedidosEntrega .pedidoDiv{
    border-left: 7px solid #348017;
}

.novosPedidosLb i, 
.pedidosCozinhaLb i, .pedidosEntregaLb i{
    color: #2C3E50;
}

.checkboxPedidoDiv label{
    padding: 6px;
    font-weight: normal;
    font-size: large;
}

.checkboxPedidoDiv{
    margin-bottom: 5px;
    color: #002A80;
}

.checkboxPedidoDiv label:hover{
    color: #228AAD;
}

.valorTotal{
    margin-top: -10px;
    font-size: large;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox] + label:before { 
    content: "\f096"; 
}

/* unchecked icon */
input[type=checkbox] + label:before {
    letter-spacing: 10px; 
}

/* space between checkbox and label */
input[type=checkbox]:checked + label:before { 
    content: "\f046";

} /* checked icon */

input[type=checkbox]:checked + label:before {
    letter-spacing: 5px; 
} /* allow space for check mark */

h4 i{
    color: #002A80;
}

.nomeCliente span{
    font-weight: bold;
}

.infoCliente{
    margin-top: 60px;
}

.verEndereco:hover{
    color: #228AAD;
}

.pedidoDiv .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #D4D8DC;
}

.idPedido{
    color: #002A80;
    font-size: large;
}

.modal-footer div{
    text-align: left;
}

#historyIcon{
    width: 50px;
    height: 50px;
}