.navbar-custom {
	background-color: #2c2c2c;
	border-color: #5b5b5b;
}
.navbar-custom .navbar-brand {
	color: #ecf0f1;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
	color: #1569C7;
}
.navbar-custom .navbar-text {
	color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
	color: #000000;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #5b5b5b;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
	color: #000000;
	background-color: #5b5b5b;
}
.navbar-custom .navbar-toggle {
	border-color: #5b5b5b;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #5b5b5b;
}
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
	border-color: #ecf0f1;
}
.navbar-custom .navbar-link {
	color: #ecf0f1;
}
.navbar-custom .navbar-link:hover {
	color: #000000;
}

@media (max-width: 767px) {
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #000000;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #000000;
		background-color: #5b5b5b;
	}
}

#loginForm{
    padding: 12px;
    width: 300px;
}

#contactForm label{
    text-align: left;
}

#dropdownBar{
    padding: 10px;
}