.colunaDestaque{
}

.restaurantName{
    height: 20px;
    width: 100%;
}

.imgDiv{
    position: relative;
}

.main{
    margin-bottom: -55px;
}

@media screen and (max-width: 992px){
    .main{
        margin-bottom: -40px;
    }

    #destaquesDiv{

    }

    .colunaDestaque{
        margin-right: 0;
        /*        padding-left: 0;
                padding-right: 0;*/
        /*margin-right: -10px;*/
    }
}

@media screen and (max-width: 768px){

    .main{
        margin-bottom: -10px;
    }

    .colunaDestaque{
        margin-left:0px; 
    }
}

.imgDiv{
    border: none;
    background: #EF6D31;
    /*background: #6B7784;*/
    /*background: #E74C3C;*/
    /*background: #C85A17;*/
    /*background: #F88017;*/
    /*background: #18BC9C;*/
}

#destaques{
    color: crimson;
}

.pecaAgora{
    margin-bottom: 15px;
}

.dishName{
    height: 55px;
    display : table-cell;
    vertical-align : middle;
    float:none;
}


.kindOfFoodDiv, .kindOfFoodDivButton{
    padding: 0;
}

h1{
    top:-180px;
    margin-left: 40px;
    position:relative;
    font-size: 60px;
}

.jumbotron{
    background: url(../images/indexBackground.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center; 
    min-height: 250px;
    width: 100%;
    margin-bottom: -80px;
    z-index: 5;
    margin-top: -22px;
}

.jumbotron form{
    margin-top: 80px;
    z-index: 10;
}

#jumbotronContent{
    min-height: 250px;
    width: 100%;
    opacity: 0.7;
    background:rgba(255,255,255,0.8);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -350px;
    left: 0;
    z-index: 0;
    margin-top: -22px;
    /*position: absolute;*/
}

@media screen and (max-width: 992px){
    .jumbotron{
        padding-bottom: 180px;
        min-height: 380px;
    }

    #jumbotronContent{
        min-height: 380px;
        margin-bottom: -480px;
    }

    h1{
        top:-240px;
        margin-left: 55px;
        position:relative;
        font-size: 30px;
        width: 100%;
    }

    .kindOfFoodSelect{
        margin-left: 30px;
    }

    .btSearchDiv{
        margin-left: 3px;
    }
}

@media screen and (min-width: 992px){
    .searchDiv{
        padding: 0px;
    }
}

@media (max-width: 991px) {
    h1{
        font-size: 30px;
        padding-left: 75px;
        margin-left: -15px;
        top:-270px;
    }

}

@media only screen and (max-width: 768px){ 
    .jumbotron, #jumbotronContent{
        min-height: 380px;
    }

    #jumbotronContent{
        min-height: 380px;
    }

    h1{
        top:-285px;
        margin-left:15px;
        padding-left: 0px;
        position:relative;
        font-size: 22px;
    }

}