.panel-body{
    border-top: 1px solid #f1f1f1;
}

/*.panel-body #results form{
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: -15px;
}

.panel-body #results form #raio{
    width: 50px;
    margin-left: 5px;
}

.panel-body #results form #kmAddon{
    width: 40px;
    margin-right: 15px;
}


.panel-body #results form #search{
    width: 45px;
}*/

.locationError{
    color: #217DBB;
}

.locationError small{
    color: #909090;
}

.sidebarContainer .disabledSideBar li{
    pointer-events: none;
    cursor: default;
}

.sidebarContainer .disabledSideBar li a{
    color: gray;
}