.restaurant{
    margin-bottom: 20px;
}

.restaurantLogo{
    width: 150px;
    height: 150px;
}

.addressIcon{
    width: 25px;
    height: 25px;
}

#map{
    width: 200px;
    height:200px;
    z-index: 10;
}

#bigMap #map-header #closeMap{
    float: right;
    margin-top: -15px;
}

#bigMap #map-header #closeMap:hover{
    color: #ac2925;
}


#bigMap #map-header{
    padding-top: 30px;
    
}

.modal-body-map{
    height: 440px;
}