.restaurant{
    margin-bottom: 20px;
}

.restaurantLogo{
    width: 150px;
    height: 150px;
}

.addressIcon{
    width: 25px;
    height: 25px;
}

.menu div{
    padding: 0;
}

.header{
    font-size:30px;
    color: #099E56;
    font-weight: bold;
}

.itemName{
    border-right:4px solid lavender;
}

.iName{
    font-size: 25px;
    font-weight: bold;
    color: #347235;
}

.itemName span{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1%;
}

.itemDiv{
    padding-top: 4px;
    border-bottom:1px solid black;
}

.prices div{
    padding-left: 5px;
    padding-right: 10px;
}

.prices{
    margin-top: 10px;
}

.prices p{
    font-size: 16px;
}

.prices span{
    font-size: 12px;
}

@media screen and (max-width: 992px){
    .itemName{
        border: none;
    }
    .price button{
        margin-bottom: 5px;
    }
    .itemDiv{
        border: none;
        border: 2px solid lavender;
        margin-top: 10px;
    }

    .iName{
        color: #C35817;
    }

    .price button{
        margin-top: 5px;
    }

    .price{
        border: 1px solid black;
    }

}

.navbar ul li{
    clear: right;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

#map{
    width: 200px;
    height:200px;
}

#map2{
    width: 570px;
    height: 400px;
}

.modal-body{
    height: 440px;
}

#cardapioHeader ul{
    list-style: none;
    margin-left: 15px;
    padding-left: 0px;
}

#cardapioHeader ul .dropdown{
    margin-left: 0px;
}

#cardapioHeader ul .dropdown ul li .qutidadeDropdown p,
#cardapioHeader ul .dropdown ul li .tamanhoDropdown p{
    margin-left: 0px;
    padding: 0 30px 0 45px;
}


#cardapioHeader ul .dropdown ul li .produtoDropdown p,
#cardapioHeader ul .dropdown ul li .subtotalDropdown p{
    margin-left: 0px;
    padding: 0 30px 0 35px;
}

#cardapioHeader ul .dropdown ul li .produtoDropdown .noreProdutoDropdown{
    font-weight: bold;
}

#cardapioHeader ul .dropdown ul li .subtotalDropdown .subtotal{
    color: #245269;
    font-weight: bold;
}

#cardapioHeader ul .dropdown ul li .totalDropdown p{
    margin-left: 0px;
    padding: 0 30px 0 35px;
    font-size: large;
    color: white;
}

#cardapioHeader ul .dropdown ul li .totalDropdown .total{
    font-weight: bold;
}

#cardapioHeader ul .dropdown ul li p{
    margin-bottom: 3px;
}

#cardapioHeader ul .dropdown ul .totalLi{
    background: black;
    padding: 0;
    margin-top: 10px;
    height: 35px;
}

#cardapioHeader ul .dropdown ul .totalLi p{
    margin-top: 5px;
}

#cardapioHeader ul .dropdown ul{
    padding-bottom: 0;
    max-height: 400px;
    overflow-x: hidden; 
    margin-top: 40px;
    float: left;
}

#badgePedido{
    margin: 0px 10px 0px 5px;
}

#proseguirPedido img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 12px;
}

#togglePedido{
    margin-bottom: 10px;
    margin-right: 10px;
}

#proseguirPedido{
    margin-bottom: 10px;
}

#loader{
    display: none;
    position:fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
}

.blur{
/*    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
    background-color:  rgba(0,0,0,0.5);
}

#nomeRestaurnatePedido{
    text-align: center;
    font-weight: bold;
}