.restaurant{
    margin-bottom: 20px;
}

.restaurantLogo{
    width: 150px;
    height: 150px;
}

.addressIcon{
    width: 25px;
    height: 25px;
}

#map{
    width: 200px;
    height:200px;
    z-index: 10;
}

#bigMap #map-header #closeMap{
    float: right;
    margin-top: -15px;
}

#bigMap #map-header #closeMap:hover{
    color: #ac2925;
}


#bigMap #map-header{
    padding-top: 30px;
    
}

.modal-body-map{
    height: 440px;
}

@media screen and (max-width: 992px){
    .itemName{
        border: none;
    }
    .price button{
        margin-bottom: 5px;
    }
    .itemDiv{
        border: none;
        border: 2px solid lavender;
        margin-top: 10px;
    }

    .iName{
        color: #C35817;
    }

    .price button{
        margin-top: 5px;
    }

    .price{
        border: 1px solid black;
    }

}

.navbar ul li{
    clear: right;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}