.opened{
    border-left-color: black;
    border-left-width: 8px;
}

.closed{
    border-left-color: black;
    border-left-width: 8px;
}

.well-sm{
    padding: 0;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

h3{
    margin-left: 15px; 
}

.statusIndicatioClosed{
    margin-left: 15px;
}

.statusIndicationOpened{
    margin-right: 15px;
}

.moneyImg{
    margin-right: -10px;
}

.cardImg{
    margin-top: 5px;
}

.formaPagamentoDiv p{
    margin-top: 8px;
    margin-right: 5px;
}

.btVerCardapio{
    margin-right: -10px;
}