.opened{
    border-left-color: black;
    border-left-width: 8px;
}

.closed{
    border-left-color: black;
    border-left-width: 8px;
}

.well-sm{
    padding: 0;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

h3{
    margin-left: 15px; 
}

h4 .commentButton{
    margin-top: -10px;
}

.statusIndicatioClosed{
    margin-left: 15px;
}

.statusIndicationOpened{
    margin-right: 15px;
}

.moneyImg{
    margin-right: -10px;
}

.cardImg{
    margin-top: 5px;
}

.formaPagamentoDiv p{
    margin-top: 8px;
    margin-right: 5px;
}

.btVerCardapio{
    margin-right: -10px;
}

.no-result-search{
    text-align: center;
    color: #228AAD;
}

#faces{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#faces #imgFace {
    width: 100px;
    width: 100px;
}

#circleLoader{
    width: 30px;
    width: 30px;
    margin-top: 15px;
    display: none;
}

.rateInputs{
    width: 100px;
}

.well .buttons{
    padding: 2px 10px 2px 20px;
}

.well .buttons a{
    margin: 5px 0px 5px 0px;
}

@media (max-width: 768px){ 
    .commentButton{
        margin-top: 15px;
    }
    
    .btVerCardapio{
        margin-right: 100px;
    }
}

/*
.well .commentCountBadge{
    position: absolute;
    margin-left: -19px;
    margin-top: 34px;
    padding: 0px;
}*/