html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.page-header{
    margin-top: 0;
    padding-top: 0;
}

.navbar ul{
    clear: right;
}