html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.page-header{
    margin-top: 0;
    padding-top: 0;
}

.navbar ul{
    clear: right;
}

.elementToggle{
    cursor: pointer;
}

.has-error .form-control-feedback {
    color: #E74C3C;
}
.has-success .form-control-feedback {
    color: #18BCA0;
}

.modal-content{
    -webkit-box-shadow: 10px 10px 76px 19px rgba(44,62,80,1);
    -moz-box-shadow: 10px 10px 76px 19px rgba(44,62,80,1);
    box-shadow: 10px 10px 76px 19px rgba(44,62,80,1);
}

/*.pagitate-wrapper{
    width: 100%;
    border: 1px solid red;
}*/

.pagination li a{
    background: #2C3E50;
}

.pagination li a:hover{
    background: #617487;
}

.pagination .active a, .pagination .active a:hover{
    background: #03121E;
}

.pagination .disabled a, .pagination .disabled a:hover{
    background: #76828D;
}

#badgePedido{
    background: #18BC9C;
    color: #FFF;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

/*h2,h3,h4{
    color: #18BC9C;
}*/

#brand{
    width: 150px;
    margin-left: 5px;
    background-image: url('../images/logos/logo2.png');
    background-repeat: no-repeat;
    margin-top: 2px;
}


#brand:hover{
    background-image: url('../images/logos/logo3.png');
}

#map {
    background: url(../images/gif-load.gif);
    background-repeat: no-repeat;
}