#senha1Div, #senha2Div, #telefoneDiv, #senhaAtualDiv{
    padding: 0;
    clear: left;
    z-index: 10;
}

#enrececoLabel{
    clear: left;    
}

#paisDiv *{
    display: none;
}

#subscribeForm h2,h3{
    margin-left: -15px;
}

#subscribeForm #sub, #edit{
    margin-right: -15px;
}