#senha1Div, #senha2Div, #telefoneDiv, #senhaAtualDiv{
    padding: 0;
    clear: left;
    z-index: 10;
}

#enrececoLabel{
    clear: left;    
}

#paisDiv *{
    display: none;
}

#subscribeForm h2,h3{
    margin-left: -15px;
}

#subscribeForm #sub, #edit{
    margin-right: -15px;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}